#marble-map {
    width: 100%;
}

#marble-home-indicator {
    font-size: 110%;
    margin-left: 1.8em;
    margin-top: 1.3em;
    color: #777;
}

#marble-navigation {
    border: none;
    border-bottom: 1px solid #b7b7b7;
    font-size: 110%;
    padding: 1em 0 .5em;
}

#marble-navigation i {
    padding: 0 .3em;
}

/* Fix for Firefox */
.pure-u-3-4 {
    width: 74.99%
}

/* temporary style for the routes list */
#marble-routes > li {
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 3px;
}

#marble-bookmarks {
    margin: 1em 1.8em;
    font-size: 110%;
}

.marble-route-delete {
    padding: 3px 2px;
    margin: 1px;
}

.marble-route-edit {
    padding: 3px 2px;
    margin: 1px;
}

.marble-route-submit {
    padding: 3px 2px;
    margin: 1px;
}

#new_name {
    width: 86%;
    margin: 7px;
    padding: 4px;
    text-align: center;
}

/* Folder icons */
.folder-icon-12 {
    color: hsl(30, 75%, 43%);
}
.folder-icon-11 {
    color: hsl(45, 75%, 43%);
}
.folder-icon-10 {
    color: hsl(60, 75%, 43%);
}
.folder-icon-9 {
    color: hsl(75, 75%, 43%);
}
.folder-icon-8 {
    color: hsl(90, 75%, 43%);
}
.folder-icon-7 {
    color: hsl(105, 75%, 43%);
}
.folder-icon-6 {
    color: hsl(120, 75%, 43%);
}
.folder-icon-5 {
    color: hsl(135, 75%, 43%);
}
.folder-icon-4 {
    color: hsl(150, 75%, 43%);
}
.folder-icon-3 {
    color: hsl(165, 75%, 43%);
}
.folder-icon-2 {
    color: hsl(180, 75%, 43%);
}
.folder-icon-1 {
    color: hsl(195, 75%, 43%);
}
.folder-icon0 {
    color: hsl(210, 75%, 43%);
}
.folder-icon1 {
    color: hsl(225, 75%, 43%);
}
.folder-icon2 {
    color: hsl(240, 75%, 43%);
}
.folder-icon3 {
    color: hsl(255, 75%, 43%);
}
.folder-icon4 {
    color: hsl(270, 75%, 43%);
}
.folder-icon5 {
    color: hsl(285, 75%, 43%);
}
.folder-icon6 {
    color: hsl(300, 75%, 43%);
}
.folder-icon7 {
    color: hsl(315, 75%, 43%);
}
.folder-icon8 {
    color: hsl(330, 75%, 43%);
}
.folder-icon9 {
    color: hsl(345, 75%, 43%);
}
.folder-icon10 {
    color: hsl(0, 75%, 43%);
}
.folder-icon11 {
    color: hsl(15, 75%, 43%);
}
.folder-icon12 {
    color: hsl(0, 0%, 25%);
}
