
.icon-map-marker:before { content: '\e805'; } /* '' */
.icon-road:before { content: '\e800'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-pushpin:before { content: '\e801'; } /* '' */