
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-remove:before { content: '\e807'; } /* '' */
.icon-map-marker:before { content: '\e805'; } /* '' */
.icon-road:before { content: '\e800'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-pushpin:before { content: '\e801'; } /* '' */